body {
    background: linear-gradient(100deg, rgb(0, 183, 255) , rgb(155, 180, 234), rgb(159, 154, 224));
  }

  .heading{
      width: 80%;
      font-size: 22px;
      font-family: 'Akaya Telivigala', cursive;
      
  }
  


  .name_object,#result_object_name, #result_object_accuracy{
      color: red;
  }

  #camera, #result{
      border: 2px dashed black;
      width: 350px;
      height: 300px;
  }









 